.page {
  padding: 16px 16px;
}

.section-top-margin {
  margin-top: 48px;
}

.page-with-bottom-tabs {
  padding-bottom: 48px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}
